
<center><h3>Add New Game</h3></center></br>
</div>
<form  action="/webgames/add_game" method="post" name="" id="">
<div class="row">
<div class="col-md-6 col-md-offset-3">

<label>Name of Game</label>
<input type="text" name="name_of_game" class="form-control" required=""></input>

<label>Description</label>
<input type="text" name="description" class="form-control" required=""></input>


<label>Normal Ball</label>
<input type="text" name="normal_ball" class="form-control"></input>

<label>Power Ball</label>
<input type="text" name="power_ball" class="form-control">

<label>Draw Day</label>
<input type="date" name="draw_day" class="form-control">

<input type="submit" name="submit" value="Add Game" class="btn btn-primary"></input>
</div>
</div>
</form>