<footer class="footer">
<small>
 <a href="http://africell.gm/">All Right Reserved Lotto-Bi, Ltd</a>
by <a href="https://www.facebook.com/ebfama">Ebrima Saidy</a>
</small>
<nav>
<ul>

</ul>
</nav>
</footer>